body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  border: solid 1px black;
  text-align: center;
  background-color: rgb(241, 241, 78);
  padding: 20px;
}

#input-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

#task-table {
  background-color: rgba(241, 241, 78, 0.625);
}

#complete-task {
  background-color: rgba(172, 223, 113, 0.843);
}

#blossom {
  font-size: 30px;
}

#task-column {
  min-width: 300px;
}
.complete-btn {
  background-color: rgba(147, 191, 97, 0.843);
}

.delete-btn {
  background-color: rgba(255, 89, 0, 0.614);
}

/* Make the table rows vertically and horizontally centered */
#task-table > tbody {
  vertical-align: middle;
  text-align: center;
}
